* {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #153cdad9;
}

.background-container {
  position: relative;
  width: 100%;
  height: 100vh;
}

.background-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('euro_2024_logo_uefa.jpg');
  background-size: cover;
  background-position: center;
  opacity: 0.08; /* 30% opacity */
  z-index: -1; 
}

/* .sweepstake-image {
    display: block;
    margin: 0 auto 20px;
    max-width: 200px;
    height: auto;
} */

h1 {
    color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    font-size: 4em; /* Adjust font size */
    font-weight: bold;
    margin-bottom: 0px;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
   /* border: 5px solid rgb(255, 255, 255); */

}

.container {
    width: 575px;
    height: 100px;
    border: 5px solid #ebf1fd83;
    color: rgb(255, 255, 255);;
    text-align: center;
    font-size: xx-large;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-container {
    display: flex;
    gap: 0px; /* Adjust the gap as needed */
    justify-content: space-evenly; /* Center the buttons horizontally */
    margin-top: 0px; /* Add some top margin if needed */
}

/* .button-container button {
    background-color: #ebf1fd;
    border: 10px #ebf1fd83;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 16px;
    margin: 1% 0 0 0;
    padding: 4%;
    margin-bottom: 10px;
    margin: 40px;
    min-width: 80px;
} */


.draw {
    background-color: #FCD60C;
    border: 10px #ebf1fd83;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 16px;
    margin: 1% 0 0 0;
    padding: 4%;
    margin: 40px;
    min-width: 80px;
    min-height: 40px;
}

.refresh {
    background-color: #ebf1fd;
    border: 10px #ebf1fd83;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 16px;
    margin: 1% 0 0 0;
    padding: 4%;
    margin: 40px;
    min-width: 80px;
    min-height: 40px;
} 

/*POT CONTAINERS */

.row {
    display: flex; /* Use Flexbox for the row */
    justify-content: space-between; /* Optional: space out the columns */
    flex-wrap: wrap; /* Allow wrapping if necessary */
    gap: 80px;
    min-height: 500px;
}

.column {
    border: 2px solid #ebf1fd83;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    flex: 1;
    min-width: 250px;
    max-width: 30%;
    box-sizing: border-box;
}

.column h2 {
    background-color: #012a93b1;
    padding: 10px;
    margin: -10px -10px 10px -10px;
    color: #FCD60C;
    border-radius: 5px 5px 0 0;
    text-align: center;
    font-size: 30px;
}


.flag-image {
    margin: 10px;
    max-width: 30px;
    height: auto;
}

.team-name {
    /* display: flex; */
    color: rgb(241, 244, 241);
    margin-left: 8px;
    margin-bottom: 3px;
    /* text-align: right; */
}

.team-container {
  display: flex; /* Use flexbox to arrange children horizontally */
  align-items: center; /* Align children vertically */
}


