* {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #9f9c9cd8;
}

.background-container {
  position: relative;
  width: 100%;
  height: 100vh;
}

.background-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('f1.jpg');
  background-size: cover;
  background-position: center;
  opacity: 0.1; /* 30% opacity */
  z-index: -1; 
}

h1 {
    color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    font-size: 4em;
    font-weight: bold;
    margin-bottom: 0px;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: 575px;
    height: 100px;
    border: 5px solid #00000083;
    color: rgb(255, 255, 255);;
    text-align: center;
    font-size: xx-large;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin-top: 10px;
}

.button-container {
    display: flex;
    gap: 0px;
    justify-content: space-evenly;
    margin-top: 0px;
}

.button-container button {
    border: 10px #ebf1fd83;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 20px;
    margin: 1% 0 0 0;
    padding: 4%;
    margin: 40px;
    min-width: 120px;
    min-height: 40px;
}

.draw {
    background-color: #FCD60C;
}

.refresh {
    background-color: #ebf1fd;
} 

.export {
    background-color: #ebf1fd;
} 

/*POT CONTAINERS */

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-height: 500px;
}

.column {
    border: 2px solid #E8002D;
    margin: 10px;
    border-radius: 5px;
    flex: 1;
    min-width: 300px;
    min-height: 350px;
    box-sizing: border-box;
}

.column h2 {
    background-color: #E8002D;
    padding: 10px;
    margin: 0px;
    color: #ffffff;
    border-radius: 5px 5px 0 0;
    text-align: center;
    font-size: 33px;
}

.h2 {
    background-color: #E8002D;
    padding: 10px;
    margin: 10px 0px;
    color: #ffffff;
    border-radius: 5px 5px 0 0;
    text-align: center;
    font-size: 33px;
    height: 10%;
    width: 100%;
}

.flag-image {
    margin: 10px;
    max-width: 30px;
    height: auto;
}

.team-name {
    color: rgb(241, 244, 241);
    margin-left: 8px;
    margin-bottom: 3px;
    font-size: 22px;
}

.driver-container {
  display: flex;
  align-items: center;
}