* {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #153cdad9;
}

.sweepstake-image {
    display: block;
    margin: 0 auto 20px;
    max-width: 200px;
    height: auto;
}

h1 {
    color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    font-size: 2.8em; /* Adjust font size as needed */
    font-weight: bold; /* Make the font bold */
    margin-bottom: 0px;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
   /* border: 5px solid rgb(255, 255, 255); */

}

.container {
    width: 575px;
    height: 100px;
    border: 5px solid #ebf1fd83;
    color: black;
    text-align: center;
    font-size: xx-large;
    display: flex;
    align-items: center;
    justify-content: center;
}

.draw {
    background-color: #ebf1fd;
    border: 10px #ebf1fd83;;
    border-radius: 8px;
    margin: 1% 0 0 0;
    padding: 1.5%;
    margin-bottom: 10px;
   /* box-shadow: 0 2.5px 2.5px rgba(37, 37, 37, 0.95);*/
}

/*POT CONTAINERS */

.row {
    display: flex; /* Use Flexbox for the row */
    justify-content: space-between; /* Optional: space out the columns */
    flex-wrap: wrap; /* Allow wrapping if necessary */
    gap: 80px;
    min-height: 500px;
}

.column {
    border: 2px solid #ebf1fd83;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    flex: 1;
    min-width: 250px;
    max-width: 30%;
    box-sizing: border-box;
}

.column h2 {
    background-color: #012a93b1;
    padding: 10px;
    margin: -10px -10px 10px -10px;
    color: #FCD60C;
    border-radius: 5px 5px 0 0;
    text-align: center;
}

/* .column div {
    color: rgb(241, 244, 241);
    text-align: left;
    margin-left: 8px;
    margin-bottom: 2px;
} */


.flag-image {
    margin: 10px;
    max-width: 30px;
    height: auto;
}

.team-name {
    /* display: flex; */
    color: rgb(241, 244, 241);
    margin-left: 8px;
    margin-bottom: 3px;
    /* text-align: right; */
}

.team-container {
  display: flex; /* Use flexbox to arrange children horizontally */
  align-items: center; /* Align children vertically */
}


/*POT CONTAINERS */

